$prefix: 'rpg';

.#{$prefix}-navbar {
  overflow: hidden;
  background-color: #333;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
              rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
              rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 15px;
  flex: 1;

  a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    &:hover {
      background-color: red;
      border-radius: 15px;
    }
  }
}

.#{$prefix}-dropdown {
  float: left;
  overflow: hidden;

  .#{$prefix}-dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    
    &:hover {
      background-color: red;
      border-radius: 15px;
    }
  }

  &:hover .#{$prefix}-dropdown-content {
    display: block;
  }
}

.#{$prefix}-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  z-index: 1;

  a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

    &:hover {
      background-color: #ddd;
    }
  }
}
