.rpg-box {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  border-radius: 15px;
  margin: 16px;
}
