/* VARIABLES */

$primary-color: #76b3f3;
$secondary-color: #f9f9f9;

/* STYLE */

body {
  color: #fff;
  font-size: 11pt;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background: #344b6c url(./img/DND.png) no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
